
.menu{
    float: right;
}
.ul{
    display: inline-flex;
    list-style-type: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
.top{
    float: top;
}
.bottom{
    float: bottom;
}
.inline{
    display: inline-flex;
}
.img{
    border-radius: 30px;
}
a:link {
    color: gray;
}
.a:visited {
    color: gray;
}
.a:hover {
    color: gray;
}
.a:active {
    color: grey;
}